<%= render "shared/header" %>

<div class='book-add-main'>

  <div class="book-add">
    <%= form_with model: @book, url:book_path(@book.id),local: true do |f| %>
    <h3 class='book-new'>本の内容を入力</h3>
    <p class='book-add-title'> 本のタイトル</p>
    <div class='book-add-title'>
    <%= f.text_area :book_title, class:"book-new-form", id:"book-title", placeholder:"本のタイトルを入力" %>
    </div>
    <p class='book-add-title'>本の著者</p>
    <div class='book-add-title'>
    <%= f.text_area :author, class:"book-new-form", id:"book-author", placeholder:"本の著者を入力" %>
    </div>
    <p class='book-add-title'>本の総ページ数</p>
    <div class='book-add-title'>
    <%= f.text_area :total_page,class:"book-new-form", id:"book-page", placeholder:"本の総ページを入力" %>
    </div>
    <p class='book-add-title'>本の画像</p>
    <div class='book-add-image'>
    <%= f.file_field :image, id:"book-add-image" %>
    </div> 
    <div class='submit'>
    <%= f.submit "登録する" ,class:"sell-btn" %> 
    </div>
    <div class='book-link-back'>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <% end %>
  </div>
<div>