<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel='stylesheet'>
    <link rel="stylesheet" href="style.scss">
    

    <title>re3-book</title>
  </head>
  <body>
   <%= render "shared/header" %>
    
    <div class = "box4">
      <div class = "bottom">
        <img src="assets/books/retop.jpg" alt="" class ="backimg" >
        <div class="slider">
          <ul class="slides">
            <%num=0%>
              <% @book.each do |book|%>
                <div id=slide-<%num%>>
                  <%= link_to book_path(book.id) ,class:'booklink' do %>
                    <li class='list'>
                      <div class='book-image'>
                        <%= image_tag book.image, :size =>'240x360', class: "book-img" if book.image.attached? %>
                      </div>
                      <p class='book-top-title'>本のタイトル：<%= book.book_title %></p>
                      <p class='book-top-author'>著者：<%= book.author %></p>
                      <span class='book-top-page'><%= book.total_page %>ページ</span>
                    </li>
                  <% end %>
                  <%num=num+1%>
                </div>
              <% end %> 
            </ul>
        </div>
      </div>
    </div>

  </body>
</html>