<%= render "shared/header" %>
<div background>
<div class='action-icons'>

  <div class='action-icon'>
    <%= link_to new_book_preparation_path(@book.id) do%>
      <h1>読む前の準備</h1>
      <ul class='preparation-list'>
        <li>メンタルマップ</li>
        <li>キュリオシティギャップ</li>
        <li>質問読み</li>
      </ul>
    <%end%>
    
  </div>

  <%# <%= link_to edit_book_preparation_path(@book.id,@preparation.id) do %> 
    <%# <h1>編集する</h1> %>
  <%# <% end %> 

  <div class='action-icon'>
  <%= link_to book_preparations_path(book_id:@book.id),method: :get do %>
    <h1></h1>
  <%end%>
  </div>

  <div class='action-icon'>
  <%= link_to new_book_output_path(book_id:@book.id) do %>
    <h1>要約</h1>
  <%end%>
  </div>

  <div class='action-icon'>
    <div>瞑想</div>
  </div>

</div>
</div>
