<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel='stylesheet'>
    <link rel="stylesheet" href="style.scss">
    

    <title>re3-book</title>
  </head>
  <body>
  <%= render "shared/header" %>
  <div class="box5">
    <div class="boxB">
      <div class="d_button"> 
        <button><%= link_to '本を消去する',book_path(@book.id), method: :delete %></button>
      </div>
      <div class="box6">
        <div class="leftcontent">
          <div class="image">
            <%= image_tag @book.image.variant(resize: '350x500'), class: "book-img" %>
          </div>
          <%if Preparation.exists?(book_id:@book.id)%>
              <ul>
                <div class="title1">
                  <li>ーーメンタルマップーー</li>
                </div>
                <li>・なぜこの本を読もうと思ったのか？</li> 
                <div class="comment"><%=@preparation.reason%></div>
                <li>・この本から何を得たいのか？</li>
                <div class="comment"><%=@preparation.get_ability%></div>
                <li>・読んだ後、どのような状態になりたいと願っているのか？</li>
                <div class="comment"><%=@preparation.status%></div>
                <div class="title1">
                  <li>ーーギュリオシティーギャップーー</li>
                </div>
                <li>・自分があらかじめ持っている知識</li> 
                <div class="comment"><%=@preparation.prior_knowledge%></div>
                <li>・本の中に書かれた自分が知らない知識</li> 
                <div class="comment"><%=@preparation.unknown%></div>
              </ul>
          <%else%>
            <div class='preparation-list'>
              <ul>
                <div class="title1">
                  <li>ーー読む前の準備ーー</li>
                </div>
                <li>・メンタルマップ'</li>
                <li>・キュリオシティギャップ</li>
              </ul>
            </div>
          <%end%>
        </div>
        <div class="button">
          <%if Preparation.exists?(book_id:@book.id)%>
            <button><%= link_to '編集',edit_book_preparation_path(@book.id,@preparation.id) %></button>
          <%else%>
            <button><%= link_to '編集',new_book_preparation_path(@book.id) %></button>
          <%end%>
        </div>
      </div>
      <div class="box7">
        <%if Output.exists?(book_id:@book.id)%>
          <h1 class=title1>要約</h1>
          <p><%=@output.text%></p>
          <div class="button">
            <button><%= link_to '編集',edit_book_output_path(book_id:@book.id) %></button>
          </div>
        <%else%>
          <div class="button">
            <button><%= link_to '要約の記入',new_book_output_path(book_id:@book.id) %></button>
          </div>
        <%end%>
      </div>
    </div>
  </div>



</body>