<%= render "shared/header" %>
<div class='unknown'>
  <div class='book-info'>
    <div class='book-image'>
      <%= image_tag @book.image.variant(resize: '350x500'), class: "book-img" %>
    </div>
    <h3 class='book-title'>
      <%= @book.book_title %>
    </h3>
    <div class='author'>
      <%= @book.author %>
    </div>
    <div class='level-of-achievement'>
      <%= @book.total_page %>
    </div>
  </div>
  
  <div class='book-preparation'>
    <div class='reason'>
      <%= @preparation.reason %>
    </div>
    <div class='get-ability'>
      <%= @preparation.get_ability %>
    </div>
    <div class='status'>
      <%= @preparation.status %>
    </div>
    <div class='prior-knowledge'>
      <%= @preparation.prior_knowledge %>
    </div>
    <div class='unknown'>
      <%= @preparation.unknown %>
    </div>
  </div>
</div>