<%= render "shared/header" %>

<div class='book-wrapup'>
  
    <%= form_with model: @output, url:book_outputs_path(@book.id),local: true do |f| %>
      <div class='book-wrapup-text'>
        <%= f.text_area :text, class:"book-text", placeholder:"本の要約を入力" %>
        <%= f.submit "登録する" ,class:"sell-btn" %> 
      </div>
    <% end %>
    <%=link_to '戻る',book_path(@book.id)%>
  
</div>