<%= render "shared/header" %>

<div class='book-wrapup'>

    <div class='text-box'>
      <%= form_with model: @output, url:book_outputs_path(@book.id),local: true do |f| %>
        <%= f.text_area :text, class:"book-text", placeholder:"本の要約を入力" %>
        <%= f.submit "登録する" ,class:"sell-btn" %> 
      <% end %>
    </div>
    <div class='link-back'>
      <%=link_to '戻る',book_path(@book.id)%>
    </div>
</div>

